em
{ 
	/*
	Person name
	*/
	font-style: italic;
}

strong
{
	/*
	Dynasty name
	*/
	text-decoration: underline;
}  

code
{
	/*
	Place and country name. Needs to override font size
	Otherwise, code font will be very small.
	*/
	font-size: 48px;
	font-weight: bold;
}