em, strong, code
{
	/* Override font-style, otherwise the default font-style will be used.
		For example, em will use italic font-style.*/
	font-style: normal;
	/* Stop using "text-decoration: underline;",
	because the underline is very close to the corresponding text */
	border-bottom-width: thin;
	padding-bottom: 1px;
}

em /* emphasis = Person name */
{
	border-bottom-style: solid;
}

strong /* Dynasty name */
{
	border-bottom-style: solid;
	border-bottom-color: gray;
}

code /*Place and country name*/
{
	/*
	Override font size; 
	otherwise, default font-size for code is very small.
	*/
	font-size: 48px;
	border-bottom-style: dashed;
}