em, strong, code
{
	/* Do not use "text-decoration: underline;",
	because the underline is very close to the corresponding text */
	padding-bottom: 1px;
}

em /* emphasis = Person name */
{
	border-bottom-width: thin;
	border-bottom-style: solid;
}

strong /* Dynasty name */
{
	border-bottom-width: medium;
	border-bottom-style: double;
}

code /*Place and country name*/
{
	border-bottom-width: thin;
	border-bottom-style: dashed;
}

sub /*Alternative word*/
{
	/*subscript presentation*/
	display: inline;
	font-size: 60%;
	background-color: black;
	color: white;
	position: relative;
	bottom: 0.3em;
}
