/*The place and person names in the text are marked as "em" tag. "em" can be defined as 
following to not emphasize all the names.*/

em
{ 
	font-style: normal;
}

p
{
	font-size:48px;
}

h1
{
	font-size:96px;
}
h2
{
	font-size:72px;
}

strong
{
	font-size:60px;
}  